@{
    Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>DotDesign: Oops... Not found</title>
  </head>
  <body>
    <h3>Sorry, we can't provide you with the resource you are looking for.</h3>
  </body>
</html>
