@using PagedList.Mvc
@model DotDesign.WebUI.ViewModels.SearchResultsPageModel

@{
    ViewBag.title = "Search results";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section HeadStyles {
    @Styles.Render("~/LayoutStyles/Stylesheets/main-content.css")
}

<div class="prefix_1 grid_10 suffix_1">
    <header class="search-results">
        Search results for "<b>@Model.SearchQuery</b>":
        @if (Model.BriefReviews.Count == 0)
        {
            <i>sorry, nothing was found.</i>
        }
    </header>
</div>
<div class="clear">
</div>

@Html.Partial("_PageBriefReviewsList", Model.BriefReviews)

<div class="prefix_1 grid_10 suffix_1">
    @Html.PagedListPager(Model.BriefReviews,
                         pageNumber => Url.Action("Search",
                                                  new
                                                      {
                                                          searchQuery = Model.SearchQuery,
                                                          pageNumber
                                                      }),
                         new PagedListRenderOptions
                             {
                                 DisplayLinkToFirstPage = true,
                                 DisplayLinkToLastPage = true
                             })
</div>
<div class="clear">
</div>