@model DotDesign.WebUI.ViewModels.TwitterUpdateModel

<div class="twitter-record">
    <div class="message">
        <p>
            @* Check out Dot Interior - Free PSD by ~vBabic on <b>@@deviantART</b>*@
            @Model.Text
        </p>
        @*<a href="http://vbabic.deviantart.com" target="_blank">http://vbabic.deviantart.com</a>*@
    </div>
    <div class="twitter-logo"></div>
    <div class="time-counter">
        <i>@Model.Age</i>
    </div>
</div>