@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DotDesign: Oops...</title>
</head>
<body>
    <h2>Sorry, some error occured.</h2>
    <h4>If you are sure that you haven't commited anything incorrect, please
        fully describe what you've commited in letter:
        <a href="mailto:support@dotdesign.com">support@dotdesign.com</a>
    </h4>
</body>
</html>
