@using DotDesign.WebUI.Areas.Cms.Models
@using DotDesign.WebUI.Utility
@model MenuItem

@{
    String itemClass = Model == MenuItem.Images ?
        "active" :
        default(String);
}

<li class="@itemClass">@Html.ActionLink("Images",
                                        "AllImages",
                                        new
                                            {
                                                controller = "Images",
                                                pageNumber = PagingSettings.FirstPageNumber
                                            })</li>