@{
    ViewBag.Title = "Unable to delete account";
    Layout = "~/Areas/Cms/Views/Shared/_AdminLayout.cshtml";
}

<h3>You are the only administrator therefore you can't delete your account.</h3>
